<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="column">
            <h1>Login</h1>
            <form action="{{ url_for('index') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="Username" name="Username" required><br>
                
                <label for="password">Password:</label>
                <input type="password" id="Password" name="Password" required><br>
                
                <input type="submit" value="Login">
            </form>
            
            <div class="bottm_button">
                <p>Don't have an account? </p>
                <button id="bt"><a href="{{ url_for('registration') }}">Register</a></button>
            </div>
        </div>
    </div>
</body>
</html>
